/*global igggnore for css style*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* sselecting bacground color of body*/
body {
    background-color: #d9dcd6;
}
/* setting color of text, background and font of text. padding used to set the height of the header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* making the header elements inline to display next to parent element and setting font size of text*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* seting color of text*/
.header h1 .seo {
    color: #d9dcd6;
}
/* adding padding to top only along with setting it to the right and spacing it 20 px away from the right 
most edge. sett font type and size*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*removing bulletpoint from ul*/
.header div ul {
    list-style-type: none;
}
/*setting element inline and setting the spacing 25px from each other*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*setting text color and removing underline */
a {
    color: #ffffff;
    text-decoration: none;
}
/* setting fnt size*/
p {
    font-size: 16px;
}
/*setting height width and margin alog with adding a bacground immage set to coer the hole container and centered*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* forcing the element to the left and shifting it right  to center it up*/
.float-left {
    float: left;
    margin-right: 25px;
}
/* forcing the element to the right and shifting it left  to center it up*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* setting the tet to take up 75% of its contaner using inline layout and spacing it 25px from the last elemnt*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*adding mardin right 20px padding 20px all arond setting container to the right of the screen setting up 
font with and hight of the container */
.benefits {
    margin-right: 20px;
    padding: 45px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* setting a margin on the text and setting text to wite  edit: .benefit-lead, benefit-brand and benefit-cost are identical.
combined them into one*/
.benefit-lead .benefit-brand .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* commented because i combined it
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}*/
/* setting margin on motom 10px and center aligning elements combie .benefit-lead h3 .benefit-brand h3 .benefit-cost h3 to one*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}*/
/* using block to stretch element to the left and right margin of 10px and auto alighning it max width is 150px combine .benefit-lead img,
.benefit-brand img, .benefit-cost img into one */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}*/
/* setting margin on bottom to be 20px a buffer padding of 50px heiht of 300px set font bacground color and font colorcombine
.search-engine-optimization, .online-reputation-management and.social-media-marketing into one*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing
 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}*/
/* setting the max heignt of immages to  to 200px combine and set font size to 36px */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img,
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    max-height: 200px;
    font-size: 36px;
}
/*
.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
